__pycache__/
_project/docker/volumes/db/*.sql
docker/volumes/db/*.sql
.github/ # for vscode copilot instructions
.run
.env
schema.yml
log-config.json
.env-test-all
*.pyc
.idea
staticfiles/
.vscode/
env/
venv/
venv3.5/
zipped/
data/
.DS_Store
.coverage
TTD.md
tag.txt
app-tag.txt
cron-tag.txt
flower
sql.txt
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.env.*
coverage.xml
prof
report.xml
locale/
log-config.json
mrcon
coverage.coverage
locale
.pat
build
docker/volumes/db_active
.dev.*
.python-version
.nvim-dap.lua
.*_cache
